.containerD {
margin-top: -30px;
}

.box0{
display: flex;
justify-content: space-between;
}
.box1 {
overflow:auto;
max-height: 415px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
width: 460px;
}

.box2 {
margin-left: 15px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
width: 590px;
}

.box3{
  border:solid 1px;
  margin-top: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
}

.img_notion {
box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.info {
padding: 10px;
text-align: center;
background-color: #40A195;
padding: 10px;
text-align: center;
background-color: #40A195;
color: white;
font-size: bold;
font-size: larger;
}

.little_box {
  // border:solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
background-color: #40A195;
color: white;
font-size: bold;
font-size: larger;
}

.space {
  text-align: center;
  margin-top: 0px;
  margin-bottom: -3px;
}

.titre1 {
  text-align: center;
  margin-left: 53px;
  padding-right: 44px;
}

.titre2 {
  margin-left: 193px;
  padding-right: 44px;
}

.little_box1 {

}

.little_box2 {
  border:solid;
}
