<div class="total">
  <div class="en_tete">
    <h1 class="text_post-it0">MON COURS</h1>
  </div>

   <div class="corps">
    <div class="next_to">

         <%= image_tag "id.jpg", class:"avatar" %>

       <div>
       <p class="text_post-it"> Arthur Marie </p>
      </div>

    </div>

    <div class="next_to1">

        <%= image_tag "raquettes.svg", class: "test" %>

      <div>
        <p class="text_post-it2 lom"> 27/09/2019 - 14h30</p>
      </div>

    </div>
  </div>

</div>

