<div class="container">
  <h1>Dashboard</h1>
  <%= current_user.first_name %>

  <div class="next_lesson">
    <h1> titre lessons </h1>
    <% @next_lessons.each do |lesson| %>
      <%= lesson.date %>
    <% end %>

  </div>

</div>
