<!-- <div class="container"> -->
 <div class="mainBanner2">
  <%#= image_tag "image.png", class: "image" %>
  <%#= image_tag "recblanc.svg", class: "recblanc" %>
  <%#= image_tag "recvert.png", class: "recvert" %>
  <%#= image_tag "recblue.png", class: "recblue" %>

  <div class="borders">
     <%= image_tag "rectangle-new.svg", class:'rectnew' %>
  </div>
  <%= image_tag "roger-that-3.svg", class: "roger-that" %>
<div class="button-home">
  <%= link_to "START", notions_path, class: 'btn btn-flat2' %>
</div>




</div>
<!-- </div> -->




