<!-- <div class="container"> -->
  <div class="mainBanner2">
    <div class="button-home">
      <%= link_to "START", notions_path, class: 'btn btn-flat3' %>
    </div>
  </div>
  <!-- </div> -->




