
<%= image_tag "navbarBg.svg" %>
<div class="container-home">
<div class="wrapper">

  <div class="mainBanner">
    <!-- <div> -->
      <!-- <video autoplay muted loop id="myVideo">
      <source src="https://res.cloudinary.com/dkblfugfl/video/upload/v1566553060/Rog_vtofno.mp4" type="video/mp4"> -->
     <!--  </video> -->
    <!-- </div> -->
    </div>




