<!-- <div class="container"> -->
  <div class="mainBanner2">
    <div class="button-home">
      <%= link_to "DEMARRER", notions_path, class: 'btn btn-flat3' %>
    </div>
    <div class="banner-corner">
    </div>
    <div class="banner-logo">
      <%=image_tag 'logoroger.png' %>
    </div>
  </div>
  <!-- </div> -->




