<canvas width="240" height="180" id="motion"> </canvas>

<video width="240" height="180" id="video-motion" autoplay> </video>

<div>
  <label for="hue"></label>
  <input type="range" min=0 max=360 name="hue" id="hue-c">
  <label for="tolerances"></label>
  <input type="range" min=0 max=360 name="tolerances" id="tolerences-c">
</div>




<%= javascript_pack_tag 'motion_capture' %>
