 <script>

  const path = 'emotion'
  const idn = document.getElementById(path);
  const attribut = idn.getAttribute("id");
  if (attribut == "notion"){
    idn.classList.add("active");
  }else if (attribut == "lesson"){
    idn.classList.add("active");
  }else if (attribut == "emotion"){
    idn.classList.add("active");
  }else if (attribut == "dashboard"){
    idn.classList.add("active");
  }
</script>


<div class="container">

  <h2>Entraine-toi grâce à l'E-MOTION</h2>
  <hr>
  <div class="d-flex" style="justify-content: space-around">

    <canvas style="display: none" width="400" height="320" id="motion-teacher">
    </canvas>
    <div class="video1">
      <h2>SE FILMER</h2>
      <video width="400" class='test-video' height="320" id="video-motion-teacher" class="video-test" autoplay loop>
      </video>
    </div>

    <div class = "score" id= "score_bar">

    </div>

    <canvas style="display:none" width="400" height="320" id="motion"> </canvas>

    <video style="display:none" width="400" height="320" id="video-motion" autoplay> </video>


    <div>
      <h2>REPETER</h2>
      <canvas width="400" style="" class='test-video' height="320" class="video-test" id="canvas1"></canvas>
    </div>

    <canvas width="400" style="display:none" height="320" id="canvas2"></canvas>






  </div>
  <div class="d-flex justify-content-center">


    <%= link_to test_path do  %>
    <button class ="btn btn-dark mr-2 mt-4 mb-5" style="width:100px">
      <i class="fas fa-reply"></i>
    </button>
    <% end %>
    <button class ="record btn btn-dark mr-2 mt-4 mb-5" style="width:100px"><i class="fas fa-video red-btn"></i> </button>
    <button class ="stop btn btn-dark mr-2 mt-4 mb-5" style="width:100px"><i class="fas fa-stop"></i></button>
    <button class ="play btn btn-dark mr-2 mt-4 mb-5" style="width:100px"><i class="fas fa-play yellow-btn"></i> </button>

  </div>

  <div style = "display:none">
    <label for="hue"></label>
    <input type="range" min=0 max=360 name="hue" id="hue-c" value='110'>

    <label for="tolerances"></label>
    <input type="range" min=0 max=360 name="tolerances" id="tolerences-c" value='48'>
  </div>
  <%= javascript_pack_tag 'motion_capture' %>
</div>
