.recblanc {
 width: 104%;
 height: 98%;
 position: relative;
}

.recvert {
  position: absolute;
  bottom: 33px;
}

.recblue {
  position: absolute;
  bottom: 0px;
}
.roger-that {
  position: absolute;
  bottom: 130px;
  left: 550px;
  top: 40px;
  width: 791px;
}
.image {
  position: absolute;
  bottom: 0px;
  width: 1249px;
  height: 1246px;
}
.mainBanner2{
  // background-image: url("https://res.cloudinary.com/dw4g4hgu2/image/upload/v1567589650/image_gfj9cu.png");
  // background-repeat: no-repeat;
  // background-position: top -54px left;
  // background-size: 913px 238px;
  width: 100%;
  height: 100vh;
}
.button-home{
  position: absolute;
  position: absolute;
  left: 509px;
  bottom: 78px;
  width: 124px;
  height: 124px;

}
