.recblanc {
 width: 104%;
 height: 98%;
 position: relative;
}

.recvert {
  position: absolute;
  bottom: 33px;
}

.recblue {
  position: absolute;
  bottom: 0px;
}
.roger-that {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 566px;
}

.image {
  position: absolute;
  bottom: 0px;
  width: 1249px;
  height: 1246px;
}
.mainBanner2{
  // background-image: url("https://res.cloudinary.com/dw4g4hgu2/image/upload/v1567589650/image_gfj9cu.png");
  // background-repeat: no-repeat;
  // background-position: top -54px left;
  // background-size: 913px 238px;
  background-image: image-url('imageterrain.png');
  background-size: cover;
  background-position: bottom center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.button-home{
  position: absolute;
  left: 45%;
  bottom: 35%;
}

// .borders{
//   position:absolute;
//   bottom: 144px;
//   left: -85px;
//   background-color: white;
//   width: 130%;
//   height: 100%;
//   border-bottom: 32px solid #181E58;
//   transform: rotate(-10deg);
//   box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.5);
//   display: flex;
//   flex-direction: column-reverse;
// }

.rectnew{
  margin-bottom: 10px;
}
