.banner-notion {
  height: 748px;
  width: 91px;
  display: flex;
  margin-bottom: 8px;
  padding: 13px 100px;
  border: 1px solid rgb(235,235,235);

}
.banner-notion-video {
  height: 91px;
  width: 1010px;
  display: flex;
  margin-bottom: 8px;
  padding: 13px 50px;
  border: 1px solid rgb(235,235,235);

}
.mainBanner{
  width: 127%;
}

.card-category {
  width: 100%;
}
