.banner-notion {
  height: 748px;
  width: 91px;
  display: flex;
  margin-bottom: 8px;
  padding: 13px 100px;
  border: 1px solid rgb(235,235,235);

}
.banner-notion-video {
  height: 91px;
  width: 1010px;
  display: flex;
  margin-bottom: 8px;
  padding: 13px 50px;
  border: 1px solid rgb(235,235,235);

}
.mainBanner{
  width: 127%;
}

.card-category {
  width: 100%;
}

.banner-corner {
  transform: rotate(25deg);
  position: absolute;
  background-color: black;
  width: 819px;
  height: 330px;
  right: -113px;
  top: -144px;
}

.banner-logo {
  position: absolute;
  width: 360px;
  right: 42px;
  top: 71px;
}
