.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FFDD41;
  transition: background 0.3s ease;

  .btn-flat:hover {
  background: #3A3A3A;
  color: white;
}
}
.btn-flat2 {
    color: black;
    padding: 4px 36px;
    background: white;
    transition: background 0.3s ease;
    position: absolute;
    bottom: 50%;
    right: 50%;
}

.btn-flat3 {
  color: black;
  padding: 4px 36px;
  background: white;
}

.btn-flat2:hover {
  background: white;
  color: black;
}

.btn-confirm {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #293462;
  transition: background 0.3s ease;
}

.btn-confirm:hover {
  background: #f7be16;
  color: white;
}


.btn-refuse {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #00818a;
  transition: background 0.3s ease;
}

.btn-refuse:hover {
  background: #f7be16;
  color: white;
}

.btn-roger-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #42a195e0;
  border: none;
  transition: background 0.3s ease;
  margin: auto;

  &:hover {
  background: #42afa8;
  color: white;
}
}


