.card-notion {
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
  position: relative;

}

.card-notion > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;

}

.card-notion h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 15px;
  background-color: #efefef;
  padding: 25px;
  width: 302px;
  height: 80px;
}

.card-notion p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-notion .card-notion-infos {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: black;min-height: 90px;

}

.card-notion-infos .card-notion-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.height{
  background-color: white;
}

.raquette{
  position:absolute;
  top: 46px;
  right: 48px;
}

.raquet{
  background:url(raquetvert.svg);
  background-size: 46px 48px;
  background-position: center;
}
