.card-comment {
     overflow: hidden;
    height: 189px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 13px;
    margin: 0px;
}

.card-comment img {
  height: 100%;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  object-fit: cover;
}

.card-comment h2 {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    margin-top: -91px;
    margin-bottom: 71px;
}

.card-comment p {
    position: absolute;
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: -1px;
    margin-left: 6px;
    margin-right: 45px;
    margin-top: -27px;
}

.card-comment .card-comment-infos {
  padding: 16px;
}

