.container-titre-notion{
  text-align: center;
    margin: 11px;
    border: 1px solid;
    height: 61px;

}

.center-text{
  text-align:center;
}
.container-index-lesson{
  background: linear-gradient(#d86017, #642A06);
}
//   background-color: Linear Gradient
// #FF8032 @ 0%
// #642A06 @ 100%


// .rayure{
//   background-color: #d86017;
// }
