.navbar-lewagon {
  // justify-content: space-between;
  height: 120px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-left: 496px;
}

.navbar-lewagon .navbar-brand img {
  width: 143px;
  height: 66px;
}

.rayure {
  background-image: url("navbarBg.svg");
  background-size: 913px 200px;
  background-repeat: no-repeat;
  background-position: top -54px left;
}
