.navbar-lewagon {
  // justify-content: space-between;
  height: 120px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-left: 280px;
}

.navbar-lewagon .navbar-brand img {
  padding-bottom: 37px;
  width: 137px;
}

// .collapse-navbar-collapse{
//   color: white;
// }

.rayure {
  background-image: image-url("coin-nav-green.svg");
  background-size: 913px 200px;
  background-repeat: no-repeat;
  background-position: top -54px left;
}
