
.total {
width: 248px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.en_tete {
background-color: #1BA393;
margin-bottom: -8px;
}

.corps {
background-color: #1FBDAA;
}

.text_post-it{
  color:white;
}

.next_to {
  display:flex;
  padding: 10px;
}

