
.total {
width: 248px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
right: 20px;
position: absolute;
top: 24px;
transform: rotate(5deg);
z-index:1;
  }

.en_tete {
background-color: #1BA393;
margin-bottom: -8px;
padding: 3px;
}

.corps {
background-color: #1FBDAA;
padding: 8px 8px 23px 8px
}

.text_post-it0 {
font-size: 24px;
color:white;
margin-left: 45px;
}

.text_post-it{
  color:white;
  margin-left: 10px;
  margin-top: 5px;
}

.text_post-it2 {
color:white;
line-height: 40px;
margin: 0;
padding-left: 6px;
}

.next_to {
  display:flex;
  padding: 10px;
}

.next_to1 {
display:flex;
 padding-left: 8px;
}


.test{
  width: 40px;
}
